In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Volumes/UsersHome/linglv/.wdm/drivers/chromedriver/mac64/93.0.4577.15/chromedriver] found in cache

In [3]:
url = 'https://redplanetscience.com'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
latest_news = soup.find_all('div', class_='content_title')[0].text
latest_p = soup.find_all('div', class_='article_teaser_body')[0].text 
print(f'The title of the latest new is: {latest_news}.')
print(f'The paragrah of the latest new is: {latest_p}.')

The title of the latest new is: Celebrate Mars Reconnaissance Orbiter's Views From Above.
The paragrah of the latest new is: Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more..

### JPL Mars Space Images - Featured Image

In [5]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url_image = 'https://spaceimages-mars.com'
browser.visit(url_image)
html_image = browser.html
soup_image = BeautifulSoup(html_image, 'html.parser')

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Volumes/UsersHome/linglv/.wdm/drivers/chromedriver/mac64/93.0.4577.15/chromedriver] found in cache

In [6]:
image = soup_image.find_all('img', class_='headerimage fade-in')[0]['src']
featured_image_url = f'{url_image}/{image}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

In [7]:
mars_facts_url = 'https://galaxyfacts-mars.com'
mars_facts = pd.read_html(mars_facts_url)[1]
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
mars_facts.columns = ['Mars', 'Parameters']
mars_facts = mars_facts[1:].reset_index(drop=True)
mars_facts

                   Mars                     Parameters
0       Polar Diameter:                       6,752 km
1                 Mass:  6.39 × 10^23 kg (0.11 Earths)
2                Moons:          2 ( Phobos & Deimos )
3       Orbit Distance:       227,943,824 km (1.38 AU)
4         Orbit Period:           687 days (1.9 years)
5  Surface Temperature:                   -87 to -5 °C
6         First Record:              2nd millennium BC
7          Recorded By:           Egyptian astronomers

In [9]:
mars_facts.to_html('mars_fact.html')
!open mars_fact.html

### Mars hemispheres

In [10]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

mars_hemisphere_url = 'https://marshemispheres.com'
browser.visit(mars_hemisphere_url)
mars_hemisphere_html = browser.html
mars_hemisphere_soup = BeautifulSoup(mars_hemisphere_html, 'html.parser')

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Volumes/UsersHome/linglv/.wdm/drivers/chromedriver/mac64/93.0.4577.15/chromedriver] found in cache

In [11]:
items = mars_hemisphere_soup.find_all('div', class_='item')
hemisphere_image_url = []

for item in items:
    image_title = item.h3.text
    image_description = item.p.text
    image_href = item.a['href']
    browser.visit(f'{mars_hemisphere_url}/{image_href}')
    image_html = browser.html
    image_soup = BeautifulSoup(image_html, 'html.parser')
    image_url = image_soup.find('div', class_='wide-image-wrapper').img['src']
    full_image_url = f'{mars_hemisphere_url}/{image_url}'
    d = {'title': image_title, 'img_url': full_image_url, 'img_descrption': image_description}
    hemisphere_image_url.append(d)
hemisphere_image_url

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png',
  'img_descrption': 'Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png',
  'img_descrption': 'Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png',
  'img_descrption': 'Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png',
  'img_descrption': 'Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…'}]